Repository OfficeDev/fluent-blocks: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --max-warnings 0 --fix

Select-multiple addable options (#161)
  .changeset/quiet-taxis-hide.md
  packages/react/src/inputs/Select/variants/CheckboxGroup/CheckboxGroup.tsx
  packages/react/src/props/inputs.ts
  packages/react/src/props/select.ts
  packages/react/src/views/View/View.stories.mdx
  packages/schemas/types/inputs/Select.d.ts
  packages/schemas/types/inputs/input-properties.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add Type Styles story. Fix Intro story. Rename Colors story. Augment Text variants to include subtle.
  packages/react/src/inlines/Text/Text.stories.mdx
  packages/react/src/inlines/Text/Text.tsx
  packages/react/src/lib/Intro.stories.mdx
  packages/react/src/lib/Provider/FluentBlocksProvider.stories.mdx
  packages/react/src/lib/commonStyles.ts
  packages/schemas/types/inlines/Text.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

There is no 'stronger'.
  packages/react/src/inlines/Text/Text.stories.mdx
  packages/react/src/lib/commonStyles.ts
  packages/schemas/types/inlines/Text.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Apply subtle styles to inputMeta.
  packages/react/src/blocks/Paragraph/Paragraph.tsx
  packages/react/src/lib/commonStyles.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix Card.
  packages/react/src/blocks/Card/Card.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add missing Select stories.
  packages/react/src/inputs/Select/Select.stories.mdx
Due: prettier --write

Rearrange stories.
  packages/react/.storybook/preview.js
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add change
  .changeset/six-mice-listen.md
Due: none

Text variants (#163)
  .changeset/six-mice-listen.md
  packages/react/.storybook/preview.js
  packages/react/src/blocks/Card/Card.tsx
  packages/react/src/blocks/Paragraph/Paragraph.tsx
  packages/react/src/inlines/Text/Text.stories.mdx
  packages/react/src/inlines/Text/Text.tsx
  packages/react/src/inputs/Select/Select.stories.mdx
  packages/react/src/lib/Intro.stories.mdx
  packages/react/src/lib/Provider/FluentBlocksProvider.stories.mdx
  packages/react/src/lib/commonStyles.ts
  packages/schemas/types/inlines/Text.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add Loading media type and follow-up for progress bar.
  packages/react/src/blocks/BigMessage/BigMessage.stories.mdx
  packages/react/src/media/Loading/Loading.tsx
  packages/react/src/media/index.ts
  packages/schemas/types/media/Loading.d.ts
  packages/schemas/types/media/index.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Adjust icon stories. Add loading icon to Icon component. Button can now display spinner.
  packages/react/src/inlines/Icon/Icon.tsx
  packages/react/src/inlines/Icon/IconFinder.stories.mdx
  packages/react/src/inlines/Icon/Icons.stories.mdx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add support for loading state in Tables.
  packages/react/src/blocks/List/List.tsx
  packages/react/src/blocks/Table/Table.tsx
  packages/react/src/blocks/Toolbar/Toolbar.tsx
  packages/react/src/inputs/ShortTextInput/ShortTextInput.tsx
  packages/react/src/lib/translations/en-US.ts
  packages/schemas/types/inputs/ShortTextInput.d.ts
  packages/schemas/types/lib/tables.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add change
  .changeset/blue-shoes-press.md
Due: none

Loading as media variant, icon, and special state for Table and List (#170)
  .changeset/blue-shoes-press.md
  packages/react/src/blocks/BigMessage/BigMessage.stories.mdx
  packages/react/src/blocks/List/List.tsx
  packages/react/src/blocks/Table/Table.tsx
  packages/react/src/blocks/Toolbar/Toolbar.tsx
  packages/react/src/inlines/Icon/Icon.tsx
  packages/react/src/inlines/Icon/IconFinder.stories.mdx
  packages/react/src/inlines/Icon/Icons.stories.mdx
  packages/react/src/inputs/ShortTextInput/ShortTextInput.tsx
  packages/react/src/lib/translations/en-US.ts
  packages/react/src/media/Loading/Loading.tsx
  packages/react/src/media/index.ts
  packages/schemas/types/inputs/ShortTextInput.d.ts
  packages/schemas/types/lib/tables.d.ts
  packages/schemas/types/media/Loading.d.ts
  packages/schemas/types/media/index.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Adjust Main to accept level.
  packages/react/src/surfaces/Main/Main.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add Avatar to Inlines.
  packages/react/src/blocks/Table/Table.stories.mdx
  packages/react/src/blocks/Table/Table.tsx
  packages/react/src/inlines/Avatar/Avatar.stories.mdx
  packages/react/src/inlines/Avatar/Avatar.test.tsx
  packages/react/src/inlines/Avatar/Avatar.tsx
  packages/react/src/inlines/Avatar/StorybookAvatar.tsx
  packages/react/src/inlines/Inline/DescribedInline.tsx
  packages/react/src/inlines/Inline/Inline.tsx
  packages/schemas/types/inlines/Avatar.d.ts
  packages/schemas/types/inlines/DescribedInline.d.ts
  packages/schemas/types/inlines/Inline.d.ts
  packages/schemas/types/inlines/index.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add change.
  .changeset/lovely-peaches-clean.md
Due: none

Remove story store v7 as this was exceeding the timeout.
  packages/react/.storybook/main.js
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Avatars (#172)
  .changeset/lovely-peaches-clean.md
  packages/react/.storybook/main.js
  packages/react/src/blocks/Table/Table.stories.mdx
  packages/react/src/blocks/Table/Table.tsx
  packages/react/src/inlines/Avatar/Avatar.stories.mdx
  packages/react/src/inlines/Avatar/Avatar.test.tsx
  packages/react/src/inlines/Avatar/Avatar.tsx
  packages/react/src/inlines/Avatar/StorybookAvatar.tsx
  packages/react/src/inlines/Inline/DescribedInline.tsx
  packages/react/src/inlines/Inline/Inline.tsx
  packages/react/src/surfaces/Main/Main.tsx
  packages/schemas/types/inlines/Avatar.d.ts
  packages/schemas/types/inlines/DescribedInline.d.ts
  packages/schemas/types/inlines/Inline.d.ts
  packages/schemas/types/inlines/index.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix Avatar issues. Add Main variant for aligning content.
  packages/react/src/blocks/Table/Table.stories.mdx
  packages/react/src/inlines/Avatar/Avatar.stories.mdx
  packages/react/src/inlines/Avatar/Avatar.tsx
  packages/react/src/lib/commonStyles.ts
  packages/react/src/surfaces/Main/Main.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add changes.
  .changeset/healthy-flowers-pull.md
Due: none

Fix Avatar issues (#174)
  .changeset/healthy-flowers-pull.md
  packages/react/src/blocks/Table/Table.stories.mdx
  packages/react/src/inlines/Avatar/Avatar.stories.mdx
  packages/react/src/inlines/Avatar/Avatar.tsx
  packages/react/src/lib/commonStyles.ts
  packages/react/src/surfaces/Main/Main.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix foreground color
  packages/react/src/lib/commonStyles.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add change.
  .changeset/three-elephants-smoke.md
Due: none

Fix foreground color (#176)
  .changeset/three-elephants-smoke.md
  packages/react/src/lib/commonStyles.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Update v9.
  packages/react/README.md
  packages/react/package.json
  packages/react/src/lib/Intro.stories.mdx
  pnpm-lock.yaml
Due: prettier --write

Fix Dropdown onChange.
  packages/react/src/inputs/Select/variants/Combobox/Combobox.tsx
  packages/react/src/inputs/Select/variants/Dropdown/Dropdown.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add change
  .changeset/serious-adults-itch.md
Due: none

Update v9 (#178)
  .changeset/serious-adults-itch.md
  packages/react/README.md
  packages/react/package.json
  packages/react/src/inputs/Select/variants/Combobox/Combobox.tsx
  packages/react/src/inputs/Select/variants/Dropdown/Dropdown.tsx
  packages/react/src/lib/Intro.stories.mdx
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix DescriptionList types.
  packages/react/src/blocks/DescriptionList/DescriptionList.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Make Layout variant optional.
  packages/react/src/blocks/Layout/Layout.tsx
  packages/schemas/types/blocks/Layout.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add sizeVariant prop to DescriptionList.
  packages/react/src/blocks/DescriptionList/DescriptionList.tsx
  packages/schemas/types/blocks/DescriptionList.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add change.
  .changeset/gold-months-care.md
Due: none

Allow described inline sequences in DescriptionList.
  packages/react/src/blocks/DescriptionList/DescriptionList.tsx
  packages/schemas/types/blocks/DescriptionList.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix DescriptionList types & props (#180)
  .changeset/gold-months-care.md
  packages/react/src/blocks/DescriptionList/DescriptionList.tsx
  packages/react/src/blocks/Layout/Layout.tsx
  packages/schemas/types/blocks/DescriptionList.d.ts
  packages/schemas/types/blocks/Layout.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add ShortInputs story.
  packages/react/src/blocks/ShortInputs/ShortInputs.stories.mdx
Due: prettier --write

Add stub ShortTextInput story.
  packages/react/src/blocks/ShortInputs/ShortInputs.stories.mdx
  packages/react/src/inputs/ShortTextInput/ShortTextInput.stories.mdx
Due: prettier --write

Add support for validation properties.
  packages/react/src/inputs/ShortTextInput/ShortTextInput.stories.mdx
  packages/react/src/inputs/ShortTextInput/ShortTextInput.tsx
  packages/schemas/types/inputs/input-properties.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Use described inlines for table body cell and header cell content.
  packages/react/src/blocks/Table/Table.stories.mdx
  packages/react/src/blocks/Table/Table.tsx
  packages/react/src/props/tables.ts
  packages/schemas/types/lib/tables.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add change
  .changeset/shiny-ducks-sell.md
Due: none

Path conditions:
  prettier --write: any of: packages/*/{src,scripts,types,pages,fragments,.storybook}/**/*.{js,jsx,ts,tsx,md,mdx,json}
  eslint --cache --max-warnings 0 --fix: any of: packages/*/{src,scripts,types,pages,fragments,.storybook}/**/*.{js,jsx,ts,tsx}
