Repository OfficeDev/fluent-blocks: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --max-warnings 0 --fix

.lintstagedrc:

{
  "packages/*/{src,scripts,types,.storybook}/**/*.{js,jsx,ts,tsx,md,mdx,json}": "prettier --write",
  "packages/*/{src,scripts,types,.storybook}/**/*.{js,jsx,ts,tsx}": "eslint --cache --max-warnings 0 --fix"
}

Fix tests.
  packages/react/package.json
  packages/react/src/blocks/BigMessage/BigMessage.test.tsx
  packages/react/src/blocks/Block/Block.test.tsx
  packages/react/src/blocks/Card/Card.test.tsx
  packages/react/src/blocks/DescriptionList/DescriptionList.test.tsx
  packages/react/src/blocks/Figure/Figure.test.tsx
  packages/react/src/blocks/Heading/Heading.test.tsx
  packages/react/src/blocks/Layout/Layout.test.tsx
  packages/react/src/blocks/List/List.test.tsx
  packages/react/src/blocks/Paragraph/Paragraph.test.tsx
  packages/react/src/blocks/Section/Section.test.tsx
  packages/react/src/blocks/ShortInputs/ShortInputs.test.tsx
  packages/react/src/blocks/Table/Table.test.tsx
  packages/react/src/blocks/Tabs/Tabs.test.tsx
  packages/react/src/blocks/Toolbar/Toolbar.test.tsx
  packages/react/src/inlines/Icon/Icon.test.tsx
  packages/react/src/inlines/Inline/Inline.test.tsx
  packages/react/src/inlines/Text/Text.test.tsx
  packages/react/src/inputs/Button/Button.test.tsx
  packages/react/src/inputs/MultilineTextInput/MultilineTextInput.test.tsx
  packages/react/src/inputs/Select/variants/CheckboxGroup/CheckboxGroup.test.tsx
  packages/react/src/inputs/Select/variants/RadioGroup/RadioGroup.test.tsx
  packages/react/src/inputs/ShortTextInput/ShortTextInput.test.tsx
  packages/react/src/media/Chart/Chart.test.tsx
  packages/react/src/views/View/View.test.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix tests.
  packages/react/src/blocks/BigMessage/BigMessage.test.tsx
  packages/react/src/blocks/Block/Block.test.tsx
  packages/react/src/blocks/Card/Card.test.tsx
  packages/react/src/blocks/DescriptionList/DescriptionList.test.tsx
  packages/react/src/blocks/Figure/Figure.test.tsx
  packages/react/src/blocks/Heading/Heading.test.tsx
  packages/react/src/blocks/Layout/Layout.test.tsx
  packages/react/src/blocks/List/List.test.tsx
  packages/react/src/blocks/Paragraph/Paragraph.test.tsx
  packages/react/src/blocks/Section/Section.test.tsx
  packages/react/src/blocks/ShortInputs/ShortInputs.test.tsx
  packages/react/src/blocks/Table/Table.test.tsx
  packages/react/src/blocks/Tabs/Tabs.test.tsx
  packages/react/src/blocks/Toolbar/Toolbar.test.tsx
  packages/react/src/inlines/Icon/Icon.test.tsx
  packages/react/src/inlines/Inline/Inline.test.tsx
  packages/react/src/inlines/Text/Text.test.tsx
  packages/react/src/inputs/Button/Button.test.tsx
  packages/react/src/inputs/MultilineTextInput/MultilineTextInput.test.tsx
  packages/react/src/inputs/Select/variants/CheckboxGroup/CheckboxGroup.test.tsx
  packages/react/src/inputs/Select/variants/RadioGroup/RadioGroup.test.tsx
  packages/react/src/inputs/ShortTextInput/ShortTextInput.test.tsx
  packages/react/src/media/Chart/Chart.test.tsx
  packages/react/src/views/View/View.test.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Update lockfile.
  pnpm-lock.yaml
Due: none

Fix stories.
  packages/react/src/blocks/BigMessage/StorybookBigMessage.tsx
  packages/react/src/blocks/Card/StorybookCard.tsx
  packages/react/src/blocks/Card/exemplars/Widget.tsx
  packages/react/src/blocks/DescriptionList/StorybookDescriptionList.tsx
  packages/react/src/blocks/Layout/StorybookLayout.tsx
  packages/react/src/blocks/Tabs/StorybookTabs.tsx
  packages/react/src/blocks/Toolbar/StorybookToolbar.tsx
  packages/react/src/lib/Provider/StorybookColorProvider.tsx
  packages/react/src/media/Chart/StorybookChart.tsx
  packages/react/src/media/Illustration/StorybookIllustration.tsx
  packages/react/src/surfaces/Main/Main.tsx
  packages/react/src/views/View/View.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix label visually hidden in Toolbar find.
  packages/react/src/blocks/Toolbar/Toolbar.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Stabilize greeking in main content for sidebar and topbar stories.
  packages/react/src/surfaces/Sidebar/Sidebar.stories.mdx
  packages/react/src/surfaces/Topbar/Topbar.stories.mdx
Due: prettier --write

Stabilize greeking in List story citites.
  packages/react/src/blocks/List/List.stories.mdx
Due: prettier --write

Add changes.
  .changeset/late-chefs-build.md
Due: none

Use sessionStorage to CRUD values for all inputs on the page.
  packages/react/src/inputs/ShortTextInput/ShortTextInput.tsx
  packages/react/src/lib/index.ts
  packages/react/src/lib/sessionInputValues.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Select variants now maintain values in sessionStorage.
  packages/react/src/inputs/Select/variants/CheckboxGroup/CheckboxGroup.tsx
  packages/react/src/inputs/Select/variants/RadioGroup/RadioGroup.tsx
  packages/react/src/lib/sessionInputValues.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix props.
  packages/react/src/inputs/Select/variants/CheckboxGroup/CheckboxGroup.tsx
  packages/react/src/inputs/Select/variants/RadioGroup/RadioGroup.tsx
  packages/react/src/props/index.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add change
  .changeset/shy-pants-boil.md
Due: none

Add cornerActions to Sidebar. Create stories for all 3 variants.
  .eslintrc.js
  packages/react/src/inlines/Icon/Icon.tsx
  packages/react/src/inputs/Button/Button.tsx
  packages/react/src/lib/surfaceDimensions.ts
  packages/react/src/props/inputs.ts
  packages/react/src/surfaces/Sidebar/Sidebar.stories.mdx
  packages/react/src/surfaces/Sidebar/Sidebar.tsx
  packages/react/src/surfaces/Sidebar/index.ts
  packages/react/src/surfaces/Topbar/Topbar.stories.mdx
  packages/react/src/surfaces/Topbar/Topbar.tsx
  packages/react/src/surfaces/Topbar/index.ts
  packages/react/src/surfaces/Topbar/topbarHeight.ts
  packages/react/src/surfaces/index.ts
  packages/react/src/views/View/View.tsx
  packages/schemas/types/surfaces/Sidebar.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Simplify stories.
  packages/react/src/surfaces/Sidebar/Sidebar.stories.mdx
  packages/react/src/surfaces/Sidebar/Sidebar.tsx
  packages/react/src/surfaces/Topbar/Topbar.stories.mdx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Adjust nav menu invoker label.
  packages/react/src/lib/translations/en-US.ts
  packages/react/src/surfaces/Sidebar/Sidebar.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add change
  .changeset/shy-bags-share.md
Due: none

Fix Sidebar menu item Button padding.
  packages/react/src/inputs/Button/Button.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix sort buttons. Rename overloaded payload prop to metadata.
  packages/react/src/blocks/List/List.tsx
  packages/react/src/blocks/Table/Table.tsx
  packages/react/src/inputs/Button/Button.tsx
  packages/react/src/inputs/Overflow/Overflow.tsx
  packages/schemas/types/inputs/Button.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add makePayload utility. Don’t spread metadata. Add includedValues to payload.
  packages/react/src/blocks/List/List.tsx
  packages/react/src/inputs/Button/Button.tsx
  packages/react/src/inputs/Overflow/Overflow.tsx
  packages/react/src/inputs/ShortTextInput/ShortTextInput.tsx
  packages/react/src/lib/index.ts
  packages/react/src/lib/makePayload.ts
  packages/react/src/lib/sessionInputValues.ts
  packages/react/src/views/View/View.stories.mdx
  packages/schemas/types/inputs/Button.d.ts
  packages/schemas/types/inputs/input-properties.d.ts
  packages/schemas/types/lib/actions.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Include build script from old prototype.
  packages/icons/basic-icons.json
  packages/icons/package.json
  packages/icons/scripts/build.js
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix icon sizes. Set title to button text that may become truncated.
  packages/icons/basic-icons.json
  packages/react/src/blocks/Toolbar/Toolbar.tsx
  packages/react/src/inlines/Icon/Icon.tsx
  packages/react/src/inputs/Button/Button.tsx
  packages/react/src/inputs/Overflow/Overflow.tsx
  packages/react/src/surfaces/Sidebar/Sidebar.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add changes.
  .changeset/tasty-walls-type.md
Due: none

Remove unused import.
  packages/react/src/surfaces/Sidebar/Sidebar.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add another menu variant for the Sidebar 3+ corner actions case.
  packages/react/src/surfaces/Sidebar/Sidebar.stories.mdx
  packages/react/src/surfaces/Sidebar/Sidebar.tsx
  packages/schemas/types/surfaces/Sidebar.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix sidebar invoker icon and corner actions height.
  packages/react/src/surfaces/Sidebar/Sidebar.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Export ViewContent which does what it says on the tin.
  packages/react/src/views/View/View.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix ViewContent types
  packages/react/src/views/View/View.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Use alea package for reproduceable IDs.
  packages/react/package.json
  packages/react/src/lib/random.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --max-warnings 0 --fix

No more Math.random()
  packages/react/src/inlines/Icon/Icon.stories.mdx
  packages/react/src/lib/random.ts
  packages/react/src/media/Chart/chart-utils.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add flat prop variant to Sidebar.
  .eslintrc.js
  packages/react/src/inputs/Button/Button.tsx
  packages/react/src/lib/random.ts
  packages/react/src/props/accordion.ts
  packages/react/src/props/inputs.ts
  packages/react/src/surfaces/Sidebar/Sidebar.stories.mdx
  packages/react/src/surfaces/Sidebar/Sidebar.tsx
  packages/schemas/types/index.d.ts
  packages/schemas/types/lib/accordion.d.ts
  packages/schemas/types/surfaces/Sidebar.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add sample app.
  packages/react-sample-app/.gitignore
  packages/react-sample-app/README.md
  packages/react-sample-app/next-env.d.ts
  packages/react-sample-app/next.config.js
  packages/react-sample-app/package.json
  packages/react-sample-app/pages/_app.tsx
  packages/react-sample-app/pages/_document.tsx
  packages/react-sample-app/pages/index.tsx
  packages/react-sample-app/public/favicon.ico
  packages/react-sample-app/public/vercel.svg
  packages/react-sample-app/styles/Home.module.css
  packages/react-sample-app/styles/globals.css
  packages/react-sample-app/tsconfig.json
  pnpm-lock.yaml
Due: none

Fix lint staged
  .lintstagedrc
Due: none

Use TabList instead of buttons in Sidebar.
  packages/react/src/inputs/Button/Button.tsx
  packages/react/src/props/inputs.ts
  packages/react/src/surfaces/Sidebar/Sidebar.stories.mdx
  packages/react/src/surfaces/Sidebar/Sidebar.tsx
  packages/react/src/surfaces/Topbar/Topbar.stories.mdx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Use TabList instead of buttons in Sidebar.
  packages/schemas/types/lib/accordion.d.ts
  packages/schemas/types/surfaces/Sidebar.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Refactor Select to handle common rendering for containing elements. Add Dropdown variant.
  packages/react/package.json
  packages/react/src/inputs/Select/Select.tsx
  packages/react/src/inputs/Select/variants/CheckboxGroup/CheckboxGroup.tsx
  packages/react/src/inputs/Select/variants/Dropdown/Dropdown.tsx
  packages/react/src/inputs/Select/variants/RadioGroup/RadioGroup.tsx
  packages/react/src/views/View/View.stories.mdx
  packages/schemas/types/inputs/Select.d.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Refine Dropdown to behave similarly to the other Select variants.
  packages/react/src/inputs/Select/variants/Dropdown/Dropdown.tsx
  packages/react/src/views/View/View.stories.mdx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

ESLint-friendly keys.
  packages/react/src/inputs/Select/variants/Dropdown/Dropdown.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Cause inputs to emit change events with fully-featured payloads.
  packages/react/src/inputs/Select/variants/CheckboxGroup/CheckboxGroup.tsx
  packages/react/src/inputs/Select/variants/Dropdown/Dropdown.tsx
  packages/react/src/inputs/Select/variants/RadioGroup/RadioGroup.tsx
  packages/react/src/inputs/ShortTextInput/ShortTextInput.tsx
  packages/react/src/props/select.ts
  packages/react/src/views/View/View.stories.mdx
Due: prettier --write, eslint --cache --max-warnings 0 --fix
