Repository OfficeDev/fluent-blocks: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --max-warnings 0 --fix

Add Tabs stub.
  src/blocks/Tabs/Tabs.tsx
  src/inputs/Button/Button.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Stub Tabs story.
  CONTRIBUTING.md
  README.md
  src/blocks/Block/Block.tsx
  src/blocks/Tabs/StorybookTabs.tsx
  src/blocks/Tabs/Tabs.stories.mdx
  src/blocks/Tabs/Tabs.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Flesh-out Teams Toolkit boilerplate scenario.
  src/blocks/Block/Block.tsx
  src/blocks/Card/Card.tsx
  src/blocks/Heading/Heading.tsx
  src/blocks/Layout/Layout.tsx
  src/blocks/Paragraph/Paragraph.tsx
  src/blocks/Tabs/StorybookTabs.tsx
  src/blocks/Tabs/Tabs.tsx
  src/inlines/Text/Text.tsx
  src/inputs/Button/Button.tsx
  src/lib/commonStyles.ts
  src/surfaces/Main/Main.tsx
  src/views/View/View.stories.mdx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add Code as media type. Make margins for centering a variable.
  src/blocks/Card/Card.tsx
  src/blocks/Figure/Figure.tsx
  src/blocks/Heading/Heading.tsx
  src/blocks/Paragraph/Paragraph.tsx
  src/blocks/ShortInputs/ShortInputs.tsx
  src/inlines/Text/Text.tsx
  src/inputs/MultilineTextInput/MultilineTextInput.tsx
  src/inputs/RadioGroup/RadioGroup.tsx
  src/lib/commonStyles.ts
  src/media/Code/Code.tsx
  src/media/index.ts
  src/views/View/View.stories.mdx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix Tabs content. Add new tab to View stories.
  src/blocks/Tabs/Tabs.tsx
  src/lib/warnings.ts
  src/views/View/View.stories.mdx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Use ThemedImage as valid Media.
  src/blocks/Tabs/Tabs.tsx
  src/inputs/Button/Button.tsx
  src/lib/commonStyles.ts
  src/media/ThemedImage/ThemedImage.tsx
  src/media/index.ts
  src/views/View/View.stories.mdx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Simplify inlines/text props to allow bare strings and strings in arrays. Resolves #22.
  src/blocks/BigMessage/BigMessage.tsx
  src/blocks/Figure/Figure.tsx
  src/blocks/Layout/StorybookLayout.tsx
  src/blocks/Paragraph/Paragraph.test-stories.tsx
  src/blocks/Paragraph/Paragraph.test.tsx
  src/blocks/Paragraph/Paragraph.tsx
  src/blocks/Section/Section.tsx
  src/inlines/Inline/Inline.tsx
  src/inputs/input-properties.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Use simplified syntax in the Teams Toolkit scenario.
  src/views/View/View.stories.mdx
Due: prettier --write

Adjust tabs implementation. Improve story config.
  src/inputs/Button/Button.tsx
  src/views/View/View.stories.mdx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add tests for Tabs.
  src/blocks/Tabs/Tabs.test-stories.tsx
  src/blocks/Tabs/Tabs.test.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add Tabs component (#30)
  CONTRIBUTING.md
  README.md
  src/blocks/BigMessage/BigMessage.tsx
  src/blocks/Card/Card.tsx
  src/blocks/Figure/Figure.tsx
  src/blocks/Heading/Heading.tsx
  src/blocks/Layout/Layout.tsx
  src/blocks/Layout/StorybookLayout.tsx
  src/blocks/Paragraph/Paragraph.test-stories.tsx
  src/blocks/Paragraph/Paragraph.test.tsx
  src/blocks/Paragraph/Paragraph.tsx
  src/blocks/Section/Section.tsx
  src/blocks/ShortInputs/ShortInputs.tsx
  src/blocks/Tabs/StorybookTabs.tsx
  src/blocks/Tabs/Tabs.stories.mdx
  src/blocks/Tabs/Tabs.test-stories.tsx
  src/blocks/Tabs/Tabs.test.tsx
  src/blocks/Tabs/Tabs.tsx
  src/inlines/Inline/Inline.tsx
  src/inlines/Text/Text.tsx
  src/inputs/Button/Button.tsx
  src/inputs/MultilineTextInput/MultilineTextInput.tsx
  src/inputs/RadioGroup/RadioGroup.tsx
  src/inputs/input-properties.ts
  src/lib/commonStyles.ts
  src/lib/warnings.ts
  src/media/Code/Code.tsx
  src/media/ThemedImage/ThemedImage.tsx
  src/media/index.ts
  src/surfaces/Main/Main.tsx
  src/views/View/View.stories.mdx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add stub Chart element.
  src/media/Chart/Chart.stories.mdx
  src/media/Chart/Chart.tsx
  src/media/Chart/StorybookChart.tsx
  src/media/index.ts
  yarn.lock
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add stub pie chart.
  package.json
  src/blocks/Layout/StorybookLayout.tsx
  src/lib/FluentPatternsContext.ts
  src/lib/FluentPatternsProvider.tsx
  src/lib/index.ts
  src/lib/readingDirection.ts
  src/lib/translations/en-US.ts
  src/lib/translations/index.ts
  src/media/Chart/Chart.stories.mdx
  src/media/Chart/Chart.tsx
  src/media/Chart/PieChart.tsx
  src/media/Chart/chart-patterns.ts
  src/media/Chart/chart-types.ts
  src/media/Chart/chart-utils.ts
  yarn.lock
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix chart size.
  src/media/Chart/Chart.tsx
  src/media/Chart/PieChart.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

(re-)Implement Legend. Harmonize variables names for name of theme and theme itself.
  src/blocks/BigMessage/StorybookBigMessage.tsx
  src/blocks/Card/StorybookCard.tsx
  src/blocks/Layout/StorybookLayout.tsx
  src/blocks/Tabs/StorybookTabs.tsx
  src/lib/FluentPatternsContext.ts
  src/lib/FluentPatternsProvider.tsx
  src/lib/theme.ts
  src/media/Chart/Legend.tsx
  src/media/Chart/PieChart.tsx
  src/media/Chart/StorybookChart.tsx
  src/media/Chart/chart-patterns.ts
  src/media/Chart/chart-types.ts
  src/media/Chart/chart-utils.ts
  src/media/Illustration/StorybookIllustration.tsx
  src/media/ThemedImage/ThemedImage.tsx
  src/views/View/View.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Tidy up types.
  src/media/Chart/Chart.tsx
  src/media/Chart/Legend.tsx
  src/media/Chart/PieChart.tsx
  src/media/Chart/chart-patterns.ts
  src/media/Chart/chart-types.ts
  src/media/Chart/chart-utils.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Tidy up more types.
  src/media/Chart/Chart.tsx
  src/media/Chart/Legend.tsx
  src/media/Chart/chart-patterns.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Keeping up.
  package.json
  yarn.lock
Due: none

Add Doughnut chart.
  src/media/Chart/Chart.stories.mdx
  src/media/Chart/Chart.tsx
  src/media/Chart/PieChart.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Labels are required for media (for now).
  src/blocks/BigMessage/BigMessage.stories.mdx
  src/blocks/BigMessage/BigMessage.test-stories.tsx
  src/blocks/Block/Block.test-stories.tsx
  src/media/Illustration/Illustration.tsx
  src/media/media-properties.ts
  src/views/View/View.stories.mdx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add Bar chart.
  src/media/Chart/BarChart.tsx
  src/media/Chart/Chart.stories.mdx
  src/media/Chart/Chart.tsx
  src/media/Chart/chart-patterns.ts
  src/media/Chart/chart-styles.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix Pie & Doughnut onLegendClick. Fix colors.
  src/media/Chart/Chart.stories.mdx
  src/media/Chart/Chart.tsx
  src/media/Chart/Legend.tsx
  src/media/Chart/PieChart.tsx
  src/media/Chart/chart-patterns.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add bar-stacked story.
  src/media/Chart/Chart.stories.mdx
Due: prettier --write

Add horizontal bars.
  src/media/Chart/Chart.stories.mdx
  src/media/Chart/Chart.tsx
  src/media/Chart/Legend.tsx
  src/media/Chart/chart-patterns.ts
  src/media/Chart/chart-utils.ts
  src/media/Chart/variants/HorizontalBarChart.tsx
  src/media/Chart/variants/PieChart.tsx
  src/media/Chart/variants/VerticalBarChart.tsx
  src/media/Illustration/Illustration.tsx
  src/media/Illustration/variants/Default.tsx
  src/media/Illustration/variants/Empty.tsx
  src/media/Illustration/variants/Error.tsx
  src/media/Illustration/variants/Hello.tsx
  src/media/Illustration/variants/Thanks.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add line charts.
  src/media/Chart/Chart.stories.mdx
  src/media/Chart/Chart.tsx
  src/media/Chart/StorybookChart.tsx
  src/media/Chart/variants/LineChart.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add stacked lines. Fix HC legend for all lines.
  src/media/Chart/Chart.stories.mdx
  src/media/Chart/Chart.tsx
  src/media/Chart/variants/StackedLineChart.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add bubble chart.
  src/media/Chart/Chart.stories.mdx
  src/media/Chart/Chart.tsx
  src/media/Chart/chart-types.ts
  src/media/Chart/variants/BubbleChart.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Remove unused imports.
  src/media/Chart/variants/BubbleChart.tsx
  src/media/Chart/variants/LineChart.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Keep using 'latest' semver for Storybook et al.
  package.json
  yarn.lock
Due: none

Upgrade chart.js, fix peer/dev setup.
  package.json
  yarn.lock
Due: none

Don't upgrade ChartJS yet.
  package.json
  yarn.lock
Due: none

Memoize chart variations.
  src/media/Chart/variants/BubbleChart.tsx
  src/media/Chart/variants/HorizontalBarChart.tsx
  src/media/Chart/variants/LineChart.tsx
  src/media/Chart/variants/PieChart.tsx
  src/media/Chart/variants/StackedLineChart.tsx
  src/media/Chart/variants/VerticalBarChart.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add invalid chart logger. Remove commented-out code.
  src/lib/warnings.ts
  src/media/Chart/Chart.tsx
  src/media/Chart/variants/BubbleChart.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Improve charts (#33)
  package.json
  src/lib/warnings.ts
  src/media/Chart/Chart.tsx
  src/media/Chart/variants/BubbleChart.tsx
  src/media/Chart/variants/HorizontalBarChart.tsx
  src/media/Chart/variants/LineChart.tsx
  src/media/Chart/variants/PieChart.tsx
  src/media/Chart/variants/StackedLineChart.tsx
  src/media/Chart/variants/VerticalBarChart.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add tests for Chart. Remove unused prop. Leave internal notes on Charts.
  src/lib/theme.ts
  src/media/Chart/Chart.stories.mdx
  src/media/Chart/Chart.test-stories.tsx
  src/media/Chart/Chart.test.tsx
  src/media/Chart/Chart.tsx
  src/media/Chart/Legend.tsx
  src/media/Chart/README.md
  src/media/Chart/variants/BubbleChart.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Update Storybook
  yarn.lock
Due: none

Change to use main for Storybook.
  .github/workflows/chromatic-staging.yml
Due: none

Change to use main for Storybook. (#36)
  .github/workflows/chromatic-staging.yml
Due: none

Path conditions:
  prettier --write: any of: {src,.storybook}/**/*.{js,jsx,ts,tsx,md,mdx,json}
  eslint --cache --max-warnings 0 --fix: any of: {src,.storybook}/**/*.{js,jsx,ts,tsx}
