Repository OfficeDev/fluent-blocks: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --max-warnings 0 --fix

.lintstagedrc:

{
  "{src,.storybook}/**/*.{js,jsx,ts,tsx,json}": "prettier --write",
  "{src,.storybook}/**/*.{js,jsx,ts,tsx}": "eslint --cache --max-warnings 0 --fix"
}

Fix linting.
  .eslintrc.js
  package.json
Due: none

Test linting.
  src/view/View.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Finish fixing linting.
  .gitignore
  src/view/View.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add Faker. Set up Section structure.
  package.json
  src/blocks/Block.tsx
  src/blocks/paragraph/Paragraph.tsx
  src/blocks/section/Section.tsx
  src/fragments/phrasing-content/PhrasingContent.tsx
  src/surfaces/main/Main.tsx
  src/view/View.stories.tsx
  yarn.lock
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix typo.
  src/fragments/phrasing-content/PhrasingContent.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add dir and theme to View.
  .eslintignore
  .storybook/preview.js
  src/view/View.stories.tsx
  src/view/View.tsx
  src/view/view.json
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix missing keys.
  src/blocks/Block.tsx
  src/blocks/paragraph/Paragraph.tsx
  src/blocks/section/Section.tsx
  src/fragments/phrasing-content/PhrasingContent.tsx
  src/lib/index.ts
  src/lib/types.ts
  src/phrasing/text/Text.tsx
  src/view/View.stories.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Adjust Storybook, path useage.
  .storybook/main.js
  .storybook/manager.js
  .storybook/theme.js
  package.json
  src/blocks/section/Section.tsx
  src/lib/index.ts
  src/surfaces/main/Main.tsx
  src/view/View.stories.tsx
  src/view/View.tsx
  src/view/view.json
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Implement colors for surfaces.
  src/blocks/paragraph/Paragraph.tsx
  src/blocks/section/Section.tsx
  src/surfaces/main/Main.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Adjust font sizes.
  src/blocks/paragraph/Paragraph.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Set up watch for development.
  just.config.js
  package.json
  yarn.lock
Due: none

Fix deps. Update readme.
  README.md
  package.json
  yarn.lock
Due: none

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Adjust spacing and layout.
  src/blocks/paragraph/Paragraph.tsx
  src/blocks/section/Section.tsx
  src/surfaces/main/Main.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix View story.
  src/view/View.stories.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Create stub form inputs.
  src/blocks/Block.tsx
  src/blocks/block.json
  src/blocks/inputs/Inputs.tsx
  src/blocks/inputs/inputs.json
  src/blocks/paragraph/Paragraph.tsx
  src/blocks/section/section.json
  src/fragments/inputs/input-properties.json
  src/fragments/inputs/radio-group.json
  src/fragments/inputs/text-input.json
  src/fragments/non-sectioning-blocks.json
  src/fragments/phrasing-content/PhrasingContent.tsx
  src/fragments/sectioning-properties.json
  src/lib/Placeholder.tsx
  src/view/View.stories.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

CODE_OF_CONDUCT.md committed
  CODE_OF_CONDUCT.md
Due: none

LICENSE committed
  LICENSE
Due: none

README.md committed
  README.md
Due: none

SECURITY.md committed
  SECURITY.md
Due: none

SUPPORT.md committed
  SUPPORT.md
Due: none

Adjust readme.
  README.md
Due: none

Adjust version.
  package.json
Due: none

Add Contributing docs.
  CONTRIBUTING.md
Due: none

Add (very) stub Form implementation, other corrections. (#3)
  src/blocks/Block.tsx
  src/blocks/block.json
  src/blocks/inputs/Inputs.tsx
  src/blocks/inputs/inputs.json
  src/blocks/paragraph/Paragraph.tsx
  src/blocks/section/Section.tsx
  src/blocks/section/section.json
  src/fragments/inputs/input-properties.json
  src/fragments/inputs/radio-group.json
  src/fragments/inputs/text-input.json
  src/fragments/non-sectioning-blocks.json
  src/fragments/phrasing-content/PhrasingContent.tsx
  src/fragments/sectioning-properties.json
  src/lib/Placeholder.tsx
  src/surfaces/main/Main.tsx
  src/view/View.stories.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Change deps.
  package.json
  tsconfig.json
  yarn.lock
Due: none

Zodify form components.
  .gitignore
  src/blocks/Block.tsx
  src/blocks/inputs/Inputs.tsx
  src/blocks/inputs/inputs.json
  src/fragments/inputs/input-properties.json
  src/fragments/inputs/input-properties.ts
  src/fragments/inputs/radio-group.json
  src/fragments/inputs/radio-group.ts
  src/fragments/inputs/text-input.json
  src/fragments/inputs/text-input.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Zodify form components. (#5)
  .gitignore
  src/blocks/Block.tsx
  src/blocks/inputs/Inputs.tsx
  src/blocks/inputs/inputs.json
  src/fragments/inputs/input-properties.json
  src/fragments/inputs/input-properties.ts
  src/fragments/inputs/radio-group.json
  src/fragments/inputs/radio-group.ts
  src/fragments/inputs/text-input.json
  src/fragments/inputs/text-input.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

zodify Text
  src/phrasing/text/Text.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

actually zodify Text now
  src/phrasing/text/Text.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

ensure text variant is optional
  src/phrasing/text/Text.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

wrap 80
  .prettierrc.json
Due: none

formatted everything to wrap 80
  .eslintrc.js
  .github/workflows/codeql-analysis.yml
  CONTRIBUTING.md
  SECURITY.md
  SUPPORT.md
  just.config.js
  src/blocks/block.json
  src/blocks/inputs/Inputs.tsx
  src/blocks/paragraph/Paragraph.tsx
  src/blocks/section/Section.tsx
  src/fragments/phrasing-content/PhrasingContent.tsx
  src/lib/Placeholder.tsx
  src/lib/index.ts
  src/phrasing/text/Text.tsx
  src/view/View.stories.tsx
  src/view/View.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

zodify icon
  src/phrasing/icon/Icon.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

remove json schemas for icon and text
  src/phrasing/icon/icon.json
  src/phrasing/text/text.json
Due: prettier --write

zodify paragraph
  src/blocks/paragraph/Paragraph.tsx
  src/blocks/paragraph/paragraph.json
  src/phrasing/index.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

wip
  src/blocks/Block.tsx
  src/blocks/Blocks.ts
  src/blocks/Figure.tsx
  src/blocks/Heading.tsx
  src/blocks/InlineContent.tsx
  src/blocks/Inputs.tsx
  src/blocks/Paragraph.tsx
  src/blocks/Section.tsx
  src/blocks/block.json
  src/blocks/figure/figure.json
  src/blocks/index.ts
  src/blocks/paragraph/Paragraph.tsx
  src/blocks/section/Section.tsx
  src/blocks/section/section.json
  src/fragments/phrasing-content/PhrasingContent.tsx
  src/fragments/phrasing-content/phrasing-content.json
  src/fragments/sectioning-properties.json
  src/inlines/Icon.tsx
  src/inlines/InlineSequence.ts
  src/inlines/Text.tsx
  src/inlines/index.ts
  src/inputs/input-properties.ts
  src/inputs/radio-group.ts
  src/inputs/text-input.ts
  src/lib/index.ts
  src/lib/keys.ts
  src/lib/log.ts
  src/lib/paths.ts
  src/lib/random.ts
  src/lib/types.ts
  src/lib/units.ts
  src/lib/warnings.ts
  src/phrasing/index.ts
  src/surfaces/Main.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

zodified
  src/blocks/Figure.tsx
  src/lib/FluentKitProvider.tsx
  src/lib/readingDirection.ts
  src/lib/theme.ts
  src/surfaces/MainSection.tsx
  src/surfaces/modal.json
  src/surfaces/sidebar.json
  src/surfaces/toolbar.json
  src/view/View.stories.tsx
  src/view/View.tsx
  src/view/view.json
Due: prettier --write, eslint --cache --max-warnings 0 --fix

add inputs to blocks
  src/blocks/Blocks.ts
  src/view/View.stories.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix
