Repository OfficeDev/fluent-blocks: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --max-warnings 0 --fix

.lintstagedrc:

{
  "packages/*/{src,scripts,types,.storybook}/**/*.{js,jsx,ts,tsx,md,mdx,json}": "prettier --write",
  "packages/*/{src,scripts,types,.storybook}/**/*.{js,jsx,ts,tsx}": "eslint --cache --max-warnings 0 --fix"
}

Add prerelease config to next.
  .changeset/pre.json
Due: none

Add empty changeset to kick off next tag.
  .changeset/pre.json
  .changeset/tame-glasses-pretend.md
Due: none

Adjust versioning & prerelease scripts.
  .github/workflows/publish-latest.yml
  .github/workflows/publish-next.yml
  package.json
Due: none

Adjust publish automation.
  .github/workflows/pr-validation.yml
  .github/workflows/publish-latest.yml
  .github/workflows/publish-next.yml
  package.json
Due: none

Kick off automated prereleases.
  .changeset/stupid-candles-jam.md
  packages/icons/package.json
  packages/react/package.json
  packages/schemas/package.json
Due: none

Kick off automated prereleases.
  pnpm-lock.yaml
Due: none

Use TabList provided by v9. Remove tab logic from Button. Cause chart canvases to fit their container.
  packages/react/src/blocks/Tabs/Tabs.tsx
  packages/react/src/inputs/Button/Button.tsx
  packages/react/src/media/Chart/Chart.tsx
  packages/react/src/media/Chart/Legend.tsx
  packages/react/src/props/inputs.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Extend Main to include variant. Add Table to permitted tab panel content.
  packages/react/src/blocks/Card/exemplars/Widget.tsx
  packages/react/src/blocks/Layout/Layout.stories.mdx
  packages/react/src/blocks/Table/Table.tsx
  packages/react/src/blocks/Tabs/Tabs.tsx
  packages/react/src/blocks/index.ts
  packages/react/src/props/cards.ts
  packages/react/src/surfaces/Main/Main.tsx
  packages/schemas/types/blocks/Block.d.ts
  packages/schemas/types/blocks/Card.d.ts
  packages/schemas/types/blocks/Section.d.ts
  packages/schemas/types/blocks/Tabs.d.ts
  packages/schemas/types/blocks/index.d.ts
  packages/schemas/types/index.d.ts
  packages/schemas/types/surfaces/index.d.ts
  packages/schemas/types/surfaces/main.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Describe change.
  .changeset/fuzzy-teachers-jam.md
  package.json
Due: none

Adjust Card ontology.
  packages/react/src/blocks/Card/Card.stories.mdx
  packages/react/src/blocks/Card/Card.tsx
  packages/react/src/blocks/Card/exemplars/Widget.tsx
  packages/react/src/blocks/Layout/Layout.stories.mdx
  packages/react/src/blocks/Paragraph/Paragraph.tsx
  packages/react/src/props/cards.ts
  packages/schemas/types/blocks/Card.d.ts
  packages/schemas/types/exemplars/Widget.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix Heading props application.
  packages/react/src/blocks/Heading/Heading.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix stories.
  packages/react/src/views/View/View.stories.mdx
Due: prettier --write

Add actions to cards. Fix card content spacing.
  .changeset/fuzzy-teachers-jam.md
  packages/react/src/blocks/Card/Card.tsx
  packages/react/src/blocks/ShortInputs/ShortInputs.tsx
  packages/react/src/inputs/Overflow/Overflow.tsx
  packages/react/src/lib/commonStyles.ts
  packages/react/src/props/cards.ts
  packages/react/src/views/View/View.stories.mdx
  packages/schemas/types/blocks/Card.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix props import.
  packages/react/src/blocks/Layout/StorybookLayout.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix Table spacing for block and card contexts.
  packages/react/src/blocks/Table/Table.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Don't use important
  packages/react/src/blocks/Card/Card.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix tests.
  packages/react/src/blocks/Card/Card.test-stories.tsx
  packages/react/src/blocks/Layout/Layout.test-stories.tsx
  packages/react/src/blocks/List/List.test-stories.tsx
  packages/react/src/blocks/Table/Table.test-stories.tsx
  packages/react/src/blocks/Table/Table.tsx
  packages/react/src/blocks/Tabs/Tabs.test.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Adjust text spacing.
  packages/react/src/lib/commonStyles.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Adjust Tabs spacing. Adjust icon size in short text inputs.
  packages/react/src/blocks/Card/Card.tsx
  packages/react/src/blocks/ShortInputs/ShortInputs.tsx
  packages/react/src/blocks/Tabs/Tabs.tsx
  packages/react/src/inlines/Icon/Icon.tsx
  packages/react/src/inputs/ShortTextInput/ShortTextInput.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix Tabs story. Fix tablist spacing.
  packages/react/src/blocks/Tabs/StorybookTabs.tsx
  packages/react/src/blocks/Tabs/Tabs.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix DescriptionList story. Fix Toolbar story. Preload basic-icons.svg on Storybook.
  packages/react/.storybook/preview-head.html
  packages/react/src/blocks/DescriptionList/StorybookDescriptionList.tsx
  packages/react/src/blocks/Toolbar/Toolbar.stories.mdx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Upgrade icon package.
  packages/icons/package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: none

Unfix tablist spacing for now.
  packages/react/src/blocks/Tabs/Tabs.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix unneeded shrink rule.
  packages/react/src/inputs/Button/Button.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add style fixing issue.
  packages/react/src/blocks/Tabs/Tabs.tsx
  packages/react/src/inputs/Button/Button.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Update Fluent Blocks logo (finally).
  README.md
  packages/react/.storybook/public/brandImage.svg
  packages/react/.storybook/public/device.svg
  packages/react/README.md
  packages/schemas/README.md
Due: none

Add change.
  .changeset/stupid-feet-float.md
Due: none

Update Fluent Blocks logo (#97)
  .changeset/stupid-feet-float.md
  README.md
  packages/react/.storybook/public/brandImage.svg
  packages/react/.storybook/public/device.svg
  packages/react/README.md
  packages/schemas/README.md
Due: none

Add stub colors package.
  packages/colors/.gitignore
  packages/colors/just.config.ts
  packages/colors/package.json
  packages/colors/src/index.ts
  packages/colors/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add types and templates from thure/cielab-curved-palette.
  packages/colors/package.json
  packages/colors/src/lib/templates.ts
  packages/colors/src/lib/types.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add foundational material from CSSWG.
  packages/colors/src/lib/csswg.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add palette functions (broken since they still expect ThreeJS) from thure/cielab-curved-palette.
  packages/colors/src/lib/csswg.ts
  packages/colors/src/lib/palettes.ts
  packages/colors/src/lib/types.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add changeset.
  .changeset/wise-llamas-decide.md
Due: none

Port ThreeJS methods into geometry.ts.
  packages/colors/src/lib/geometry.ts
  packages/colors/src/lib/palettes.ts
  packages/colors/src/lib/types.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Color story demonstrates palette generation
  packages/colors/scripts/audit.js
  packages/colors/src/index.ts
  packages/colors/src/lib/geometry.ts
  packages/colors/src/lib/palettes.ts
  packages/react/package.json
  packages/react/src/index.ts
  packages/react/src/lib/Provider/FluentBlocksContext.ts
  packages/react/src/lib/Provider/FluentBlocksProvider.stories.mdx
  packages/react/src/lib/Provider/FluentBlocksProvider.tsx
  packages/react/src/lib/Provider/StorybookColorProvider.tsx
  packages/react/src/lib/Provider/index.ts
  packages/react/src/lib/index.ts
  packages/react/src/lib/theme.ts
  packages/react/src/lib/translations/index.ts
  packages/schemas/package.json
  packages/schemas/types/lib/themes.d.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add logarithmic distribution to palette generator.
  packages/colors/package.json
  packages/colors/src/lib/palettes.ts
  packages/colors/src/lib/types.d.ts
  packages/react/src/lib/Provider/FluentBlocksProvider.stories.mdx
  packages/react/src/lib/Provider/StorybookColorProvider.tsx
  packages/react/src/lib/theme.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix packaging.
  packages/colors/package.json
Due: none

Fix type definitions.
  packages/colors/src/index.ts
  packages/colors/src/lib/index.ts
  packages/colors/src/lib/types.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Remove array-logspace dep.
  packages/colors/package.json
  packages/colors/src/lib/palettes.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --max-warnings 0 --fix
