Repository OfficeDev/fluent-blocks: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --max-warnings 0 --fix

.lintstagedrc:

{
  "{src,.storybook}/**/*.{js,jsx,ts,tsx,md,mdx,json}": "prettier --write",
  "{src,.storybook}/**/*.{js,jsx,ts,tsx}": "eslint --cache --max-warnings 0 --fix"
}

Fix link in main readme
  README.md
Due: none

Fix link in main readme (#37)
  README.md
Due: none

Add and run Storybook upgrade script.
  package.json
  yarn.lock
Due: none

Upgrade react components. TODO: fix imports, ensure designs still work.
  package.json
  yarn.lock
Due: none

Bump @fluentui & @storybook dependencies (#38)
  package.json
  yarn.lock
Due: none

Finish refactor of dir prop to translations.
  src/views/View/View.stories.mdx
  src/views/View/View.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Extend Sequence to support passing parent-determined props to sequence items. Card accepts contextual class name from parent to support Layout better.
  src/blocks/Card/Card.tsx
  src/blocks/Layout/Layout.stories.mdx
  src/blocks/Layout/Layout.tsx
  src/lib/Sequence.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Use LayoutItem to handle layout logic at the child’s scope. Add note about tightly-bound components such as this and its parent Layout.
  README.md
  src/blocks/Card/Card.tsx
  src/blocks/Layout/Layout.stories.mdx
  src/blocks/Layout/Layout.tsx
  src/blocks/Layout/LayoutItem.tsx
  src/blocks/Layout/layout-types.ts
  src/lib/warnings.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix StorybookCard.
  src/blocks/Card/StorybookCard.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add blockSizeFactor.
  src/blocks/Layout/Layout.stories.mdx
  src/blocks/Layout/LayoutItem.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Annotate all 'variations' as being internal.
  src/media/Chart/variants/BubbleChart.tsx
  src/media/Chart/variants/HorizontalBarChart.tsx
  src/media/Chart/variants/LineChart.tsx
  src/media/Chart/variants/PieChart.tsx
  src/media/Chart/variants/StackedLineChart.tsx
  src/media/Chart/variants/VerticalBarChart.tsx
  src/media/Illustration/variants/Default.tsx
  src/media/Illustration/variants/Empty.tsx
  src/media/Illustration/variants/Error.tsx
  src/media/Illustration/variants/Hello.tsx
  src/media/Illustration/variants/Thanks.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add Widget and stories. Adjust styles for components in card content entity.
  CONTRIBUTING.md
  README.md
  src/blocks/Card/Card.stories.mdx
  src/blocks/Card/Card.tsx
  src/blocks/Card/exemplars/Widget.tsx
  src/blocks/ShortInputs/ShortInputs.tsx
  src/blocks/Tabs/Tabs.tsx
  src/inputs/Button/Button.tsx
  src/inputs/input-properties.ts
  src/lib/commonStyles.ts
  src/lib/fakeTitle.ts
  src/views/View/View.stories.mdx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

FluentCard expects tabIndex to be 0 when content is focusable. Assuming content _is_ focusable is probably the safest approach for now.
  src/blocks/Card/Card.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix styles after testing with multiple tabs in Widget.
  src/blocks/Card/Card.stories.mdx
  src/blocks/Card/Card.tsx
  src/blocks/Card/StorybookCard.tsx
  src/blocks/Card/card-properties.ts
  src/blocks/Card/exemplars/Widget.tsx
  src/blocks/ShortInputs/ShortInputs.tsx
  src/blocks/Tabs/Tabs.tsx
  src/inputs/Button/Button.tsx
  src/lib/commonStyles.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix some tweaks to layout logic.
  src/blocks/Card/Card.tsx
  src/blocks/ShortInputs/ShortInputs.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add DescriptionList.
  src/blocks/Card/Card.tsx
  src/blocks/Card/card-properties.ts
  src/blocks/DescriptionList/DescriptionList.stories.mdx
  src/blocks/DescriptionList/DescriptionList.tsx
  src/blocks/DescriptionList/StorybookDescriptionList.tsx
  src/blocks/Tabs/Tabs.stories.mdx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Avoid Sequence when cloneElement is not needed.
  src/blocks/DescriptionList/DescriptionList.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Adjust, fix, and demonstrate spacing.
  src/blocks/Card/Card.stories.mdx
  src/blocks/Card/Card.tsx
  src/blocks/DescriptionList/DescriptionList.stories.mdx
  src/blocks/ShortInputs/ShortInputs.tsx
  src/blocks/Tabs/Tabs.stories.mdx
  src/inputs/Button/Button.tsx
  src/inputs/input-properties.ts
  src/lib/commonStyles.ts
  src/lib/fakeTitle.ts
  src/views/View/View.stories.mdx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add Dashboard as Layout exemplar.
  src/blocks/Layout/Layout.stories.mdx
  src/blocks/Layout/Layout.tsx
  src/blocks/Layout/LayoutItem.tsx
  src/blocks/Layout/StorybookLayout.tsx
  src/blocks/Layout/exemplars/Dashboard/Dashboard.tsx
  src/blocks/Layout/layout-properties.ts
  src/blocks/Layout/layout-types.ts
  src/blocks/ShortInputs/ShortInputs.tsx
  src/blocks/Tabs/Tabs.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add Card tests.
  src/blocks/Card/Card.test-stories.tsx
  src/blocks/Card/Card.test.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add tests for DescriptionList.
  src/blocks/DescriptionList/DescriptionList.test-stories.tsx
  src/blocks/DescriptionList/DescriptionList.test.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add/adjust test placeholders
  src/blocks/Layout/Layout.test.tsx
  src/blocks/ShortInputs/ShortInputs.test.tsx
  src/blocks/Tabs/Tabs.test.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix short inputs spacing regression.
  src/blocks/ShortInputs/ShortInputs.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add delay for Chromatic in stories that have charts.
  src/blocks/Card/Card.stories.mdx
  src/blocks/Layout/Layout.stories.mdx
Due: prettier --write

Add basic accessibility test for Figure.
  src/blocks/Figure/Figure.test-stories.tsx
  src/blocks/Figure/Figure.test.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add basic render test for ShortInputs.
  src/blocks/ShortInputs/ShortInputs.test-stories.tsx
  src/blocks/ShortInputs/ShortInputs.test.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add basic render test for Layout.
  src/blocks/Layout/Layout.test-stories.tsx
  src/blocks/Layout/Layout.test.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Use pnpm in Github CI.
  .github/workflows/chromatic-staging.yml
  .github/workflows/pr-validation.yml
Due: none

Fix pnpm in Github CI.
  .github/workflows/chromatic-staging.yml
  .github/workflows/pr-validation.yml
Due: none

Move linting scripts.
  package.json
  packages/react-blocks/package.json
Due: none

Fix test script at root.
  package.json
Due: none

One last yarn.
  packages/react-blocks/package.json
Due: none

Fix pnpm caching.
  .github/workflows/chromatic-staging.yml
  .github/workflows/pr-validation.yml
Due: none

Adjust naming and main READMEs.
  README.md
  packages/react-blocks/README.md
Due: none

Adjust Chromatic CI.
  .github/workflows/chromatic-staging.yml
  .github/workflows/pr-validation.yml
Due: none

Update more naming.
  README.md
  packages/blocks-schemas/README.md
  packages/react-blocks/.storybook/preview.js
  packages/react-blocks/.storybook/public/brandImage.svg
  packages/react-blocks/.storybook/public/device.svg
  packages/react-blocks/README.md
  packages/react-blocks/src/views/View/View.stories.mdx
Due: none

Adjust delay for charts.
  packages/react-blocks/src/blocks/Card/Card.stories.mdx
  packages/react-blocks/src/blocks/Layout/Layout.stories.mdx
  packages/react-blocks/src/media/Chart/Chart.stories.mdx
  packages/react-blocks/src/media/Illustration/Illustration.stories.mdx
Due: none
