Repository OfficeDev/fluent-blocks: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --max-warnings 0 --fix

Fix roles for Topbar, Sidebar, et alia.
  packages/react/src/blocks/Toolbar/Toolbar.tsx
  packages/react/src/inputs/Button/Button.tsx
  packages/react/src/inputs/Overflow/Overflow.tsx
  packages/react/src/surfaces/Sidebar/Sidebar.tsx
  packages/react/src/surfaces/Topbar/Topbar.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add change.
  .changeset/grumpy-rice-clean.md
Due: none

Refinements to Toolbar roles and Overflows.
  packages/react/src/blocks/Table/Table.tsx
  packages/react/src/blocks/Toolbar/Toolbar.tsx
  packages/react/src/inputs/Overflow/Overflow.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix Topbar & Sidebar roles (#123)
  .changeset/grumpy-rice-clean.md
  packages/react/src/blocks/Table/Table.tsx
  packages/react/src/blocks/Toolbar/Toolbar.tsx
  packages/react/src/inputs/Button/Button.tsx
  packages/react/src/inputs/Overflow/Overflow.tsx
  packages/react/src/surfaces/Sidebar/Sidebar.tsx
  packages/react/src/surfaces/Topbar/Topbar.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Improved inlines (#122)
  .changeset/tidy-coats-fail.md
  packages/react/README.md
  packages/react/src/blocks/Heading/Heading.tsx
  packages/react/src/blocks/Paragraph/Paragraph.tsx
  packages/react/src/inlines/Icon/DescribedIcon.tsx
  packages/react/src/inlines/Inline/DescribedInline.tsx
  packages/react/src/inlines/Inline/Inline.tsx
  packages/react/src/inlines/Inline/getInlineText.ts
  packages/react/src/inlines/Link/Link.tsx
  packages/react/src/inlines/Text/DescribedText.tsx
  packages/react/src/inlines/Text/Text.tsx
  packages/react/src/inlines/index.ts
  packages/react/src/lib/Described.tsx
  packages/react/src/lib/Provider/FluentBlocksProvider.tsx
  packages/react/src/lib/commonStyles.ts
  packages/react/src/lib/index.ts
  packages/react/src/lib/translations/en-US.ts
  packages/react/src/views/View/View.stories.mdx
  packages/schemas/types/blocks/Paragraph.d.ts
  packages/schemas/types/inlines/DescribedInline.d.ts
  packages/schemas/types/inlines/Icon.d.ts
  packages/schemas/types/inlines/Inline.d.ts
  packages/schemas/types/inlines/Link.d.ts
  packages/schemas/types/inlines/Text.d.ts
  packages/schemas/types/inlines/index.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Upgrade pnpm.
  .github/workflows/pr-validation.yml
  .github/workflows/publish.yml
Due: none

Upgrade Storybook.
  packages/react/.storybook/main.js
  packages/react/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix linting.
  packages/react/src/lib/log.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Update Storybook (#127)
  .github/workflows/pr-validation.yml
  .github/workflows/publish.yml
  packages/react/.storybook/main.js
  packages/react/package.json
  packages/react/src/lib/log.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Begin using eponymous props for inputs. Refactor Button to use the eponymous prop.
  packages/react/src/blocks/BigMessage/BigMessage.tsx
  packages/react/src/blocks/Card/Card.tsx
  packages/react/src/blocks/Card/exemplars/Widget.tsx
  packages/react/src/blocks/List/List.stories.mdx
  packages/react/src/blocks/List/List.tsx
  packages/react/src/blocks/ShortInputs/ShortInputs.test-stories.tsx
  packages/react/src/blocks/Table/Table.stories.mdx
  packages/react/src/blocks/Table/Table.tsx
  packages/react/src/blocks/Tabs/Tabs.tsx
  packages/react/src/blocks/Toolbar/Toolbar.stories.mdx
  packages/react/src/blocks/Toolbar/Toolbar.test-stories.tsx
  packages/react/src/blocks/Toolbar/Toolbar.tsx
  packages/react/src/inputs/Button/Button.stories.mdx
  packages/react/src/inputs/Button/Button.test-stories.tsx
  packages/react/src/inputs/Button/Button.tsx
  packages/react/src/inputs/Overflow/Overflow.tsx
  packages/react/src/lib/Provider/StorybookColorProvider.tsx
  packages/react/src/props/menus.ts
  packages/react/src/props/tables.ts
  packages/react/src/surfaces/Sidebar/Sidebar.stories.mdx
  packages/react/src/surfaces/Sidebar/Sidebar.tsx
  packages/react/src/surfaces/Topbar/Topbar.stories.mdx
  packages/react/src/surfaces/Topbar/Topbar.tsx
  packages/react/src/views/View/View.stories.mdx
  packages/schemas/types/blocks/Tabs.d.ts
  packages/schemas/types/blocks/Toolbar.d.ts
  packages/schemas/types/inputs/Button.d.ts
  packages/schemas/types/lib/menu.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix theme resolution ahead of next v9 prerelease.
  packages/react/src/lib/theme.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add changes.
  .changeset/early-mirrors-complain.md
Due: none

Fix high contrast theme resolution (#129)
  .changeset/early-mirrors-complain.md
  packages/react/src/lib/theme.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Update dependencies. Peg Griffel to version that works with React 18.
  package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: none

Add changes.
  .changeset/witty-bags-travel.md
Due: none

Update dependencies. (#130)
  .changeset/witty-bags-travel.md
  package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: none

Upgrade fluentui.
  packages/react/package.json
  packages/react/src/blocks/Table/Table.tsx
  packages/react/src/blocks/Tabs/Tabs.tsx
  packages/react/src/inputs/RadioGroup/RadioGroup.tsx
  packages/react/src/inputs/ShortTextInput/ShortTextInput.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Upgrade Storybook.
  packages/react/package.json
  pnpm-lock.yaml
Due: none

Add changes.
  .changeset/giant-otters-sin.md
Due: none

Restore gap in Legend items.
  packages/react/src/media/Chart/Legend.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Update deps. (#131)
  .changeset/giant-otters-sin.md
  packages/react/package.json
  packages/react/src/blocks/Table/Table.tsx
  packages/react/src/blocks/Tabs/Tabs.tsx
  packages/react/src/inputs/RadioGroup/RadioGroup.tsx
  packages/react/src/inputs/ShortTextInput/ShortTextInput.tsx
  packages/react/src/media/Chart/Legend.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Sidebar gets a pixel. Buttons don’t have to truncate text content.
  packages/react/src/inputs/Button/Button.tsx
  packages/react/src/surfaces/Sidebar/Sidebar.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix Sidebar story.
  packages/react/src/surfaces/Sidebar/Sidebar.stories.mdx
Due: prettier --write

Move Button-specific props to Button. Add missing autocomplete prop to text inputs.
  packages/react/src/props/inputs.ts
  packages/schemas/types/inputs/Button.d.ts
  packages/schemas/types/inputs/input-properties.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add missing autocomplete prop to ShortTextInput.
  packages/react/src/inputs/ShortTextInput/ShortTextInput.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix Button component props.
  packages/react/src/inputs/Button/Button.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix ts configuration for dev and build.
  packages/react/just.config.ts
  packages/react/tsconfig.build.json
  packages/react/tsconfig.json
Due: none

Add disambiguatingLabel prop to inputs.
  packages/react/src/inputs/Button/Button.tsx
  packages/react/src/inputs/RadioGroup/RadioGroup.tsx
  packages/react/src/inputs/ShortTextInput/ShortTextInput.tsx
  packages/schemas/types/inputs/input-properties.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix previously unchecked types.
  packages/react/src/blocks/BigMessage/StorybookBigMessage.tsx
  packages/react/src/blocks/Card/StorybookCard.tsx
  packages/react/src/blocks/List/StorybookList.tsx
  packages/react/src/blocks/Table/StorybookTable.tsx
  packages/react/src/blocks/Toolbar/StorybookToolbar.tsx
  packages/react/src/inlines/Icon/Icon.tsx
  packages/react/src/inlines/Text/Text.tsx
  packages/react/src/media/Chart/Chart.tsx
  packages/schemas/types/blocks/Figure.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix Toolbar.
  packages/react/src/blocks/Toolbar/Toolbar.test.tsx
  packages/react/src/blocks/Toolbar/Toolbar.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Try out storyStoreV7
  packages/react/.storybook/main.js
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Refactor text inputs to use eponymous props.
  packages/react/src/blocks/Toolbar/Toolbar.tsx
  packages/react/src/inputs/MultilineTextInput/MultilineTextInput.tsx
  packages/react/src/inputs/ShortTextInput/ShortTextInput.tsx
  packages/react/src/props/inputs.ts
  packages/react/src/views/View/View.stories.mdx
  packages/schemas/types/inputs/MultilineTextInput.d.ts
  packages/schemas/types/inputs/ShortTextInput.d.ts
  packages/schemas/types/inputs/input-properties.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Refactor RadioGroup to use eponymous props.
  packages/react/src/inputs/RadioGroup/RadioGroup.tsx
  packages/react/src/views/View/View.stories.mdx
  packages/schemas/types/inputs/RadioGroup.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Refactor labelVisuallyHidden to labelVariant. Add description and descriptionVariant props to describeable text inputs.
  packages/react/src/inputs/ShortTextInput/ShortTextInput.tsx
  packages/schemas/types/inputs/input-properties.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Implement description for ShortTextInput and RadioGroup.
  packages/react/src/blocks/Paragraph/Paragraph.tsx
  packages/react/src/inputs/RadioGroup/RadioGroup.tsx
  packages/react/src/inputs/ShortTextInput/ShortTextInput.tsx
  packages/react/src/lib/commonStyles.ts
  packages/react/src/lib/index.ts
  packages/react/src/lib/makeId.ts
  packages/react/src/lib/makeLabelId.ts
  packages/react/src/props/inputs.ts
  packages/react/src/views/View/View.stories.mdx
  packages/schemas/types/inputs/RadioGroup.d.ts
  packages/schemas/types/inputs/input-properties.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add info icon.
  .changeset/three-spoons-raise.md
  packages/icons/basic-icons.json
Due: none

Enable descriptions for RadioGroup options. Fix RadioGroup description.
  packages/react/src/blocks/Paragraph/Paragraph.tsx
  packages/react/src/inputs/RadioGroup/RadioGroup.tsx
  packages/react/src/inputs/ShortTextInput/ShortTextInput.tsx
  packages/react/src/lib/commonStyles.ts
  packages/react/src/views/View/View.stories.mdx
  packages/schemas/types/inputs/RadioGroup.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Refactor to use converged Select props.
  packages/react/src/inputs/RadioGroup/RadioGroup.tsx
  packages/react/src/props/select.ts
  packages/react/src/views/View/View.stories.mdx
  packages/schemas/types/inputs/RadioGroup.d.ts
  packages/schemas/types/inputs/Select.d.ts
  packages/schemas/types/inputs/index.d.ts
  packages/schemas/types/inputs/input-properties.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix Select block rendering.
  packages/react/src/blocks/Block/Block.tsx
  packages/react/src/inputs/Select/Select.tsx
  packages/react/src/inputs/Select/variants/RadioGroup/RadioGroup.test.tsx
  packages/react/src/inputs/Select/variants/RadioGroup/RadioGroup.tsx
  packages/react/src/inputs/ShortTextInput/ShortTextInput.tsx
  packages/react/src/inputs/index.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add CheckboxGroup as a variant of Select.
  packages/react/src/blocks/Paragraph/Paragraph.tsx
  packages/react/src/inputs/Select/Select.tsx
  packages/react/src/inputs/Select/variants/CheckboxGroup/CheckboxGroup.test.tsx
  packages/react/src/inputs/Select/variants/CheckboxGroup/CheckboxGroup.tsx
  packages/react/src/lib/commonStyles.ts
  packages/react/src/props/select.ts
  packages/react/src/views/View/View.stories.mdx
  packages/schemas/types/inputs/Select.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Path conditions:
  prettier --write: any of: packages/*/{src,scripts,types,.storybook}/**/*.{js,jsx,ts,tsx,md,mdx,json}
  eslint --cache --max-warnings 0 --fix: any of: packages/*/{src,scripts,types,.storybook}/**/*.{js,jsx,ts,tsx}
