Repository OfficeDev/fluent-blocks: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --max-warnings 0 --fix

Implement list-scoped actions for List.
  packages/react/src/blocks/List/List.stories.mdx
  packages/react/src/blocks/List/List.tsx
  packages/react/src/blocks/Table/Table.tsx
  packages/react/src/blocks/Toolbar/Toolbar.tsx
  packages/react/src/lib/menu-properties.ts
  packages/schemas/types/blocks/List.d.ts
  packages/schemas/types/lib/menu.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Adjust shared props ontology. Adjust Table and List actions ontology.
  packages/react/src/blocks/Card/Card.test-stories.tsx
  packages/react/src/blocks/Card/Card.tsx
  packages/react/src/blocks/Card/StorybookCard.tsx
  packages/react/src/blocks/Card/exemplars/Widget.tsx
  packages/react/src/blocks/Layout/Layout.test-stories.tsx
  packages/react/src/blocks/Layout/Layout.tsx
  packages/react/src/blocks/Layout/StorybookLayout.tsx
  packages/react/src/blocks/Layout/exemplars/Dashboard/Dashboard.tsx
  packages/react/src/blocks/List/List.stories.mdx
  packages/react/src/blocks/List/List.tsx
  packages/react/src/blocks/Table/StorybookTable.tsx
  packages/react/src/blocks/Table/Table.stories.mdx
  packages/react/src/blocks/Table/Table.tsx
  packages/react/src/blocks/Table/tableBreakpoints.ts
  packages/react/src/blocks/Toolbar/Toolbar.tsx
  packages/react/src/blocks/index.ts
  packages/react/src/index.ts
  packages/react/src/inputs/Button/Button.tsx
  packages/react/src/inputs/MultilineTextInput/MultilineTextInput.tsx
  packages/react/src/inputs/Overflow/Overflow.tsx
  packages/react/src/inputs/RadioGroup/RadioGroup.tsx
  packages/react/src/inputs/ShortTextInput/ShortTextInput.tsx
  packages/react/src/lib/FluentBlocksContext.ts
  packages/react/src/lib/index.ts
  packages/react/src/props/README.md
  packages/react/src/props/actions.ts
  packages/react/src/props/cards.ts
  packages/react/src/props/index.ts
  packages/react/src/props/inputs.ts
  packages/react/src/props/layouts.ts
  packages/react/src/props/menus.ts
  packages/react/src/props/tables.ts
  packages/react/src/views/View/View.tsx
  packages/schemas/types/blocks/Table.d.ts
  packages/schemas/types/lib/menu.d.ts
  packages/schemas/types/lib/tables.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix Table onAction handling.
  packages/react/src/blocks/Table/Table.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add group common actions.
  packages/react/src/blocks/List/List.stories.mdx
  packages/react/src/blocks/List/List.tsx
  packages/react/src/blocks/Toolbar/Toolbar.tsx
  packages/react/src/inputs/Button/Button.tsx
  packages/schemas/types/inputs/Button.d.ts
  packages/schemas/types/lib/menu.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Adjust Toolbar ontology to support filter & find. Fix Table layout. Update basic-icons.
  packages/icons/basic-icons.json
  packages/icons/package.json
  packages/react/package.json
  packages/react/src/blocks/List/List.stories.mdx
  packages/react/src/blocks/List/List.tsx
  packages/react/src/blocks/Table/Table.stories.mdx
  packages/react/src/blocks/Table/Table.tsx
  packages/react/src/blocks/Toolbar/Toolbar.tsx
  packages/react/src/inputs/Button/Button.tsx
  packages/react/src/inputs/ShortTextInput/ShortTextInput.tsx
  packages/react/src/lib/translations/en-US.ts
  packages/schemas/types/blocks/List.d.ts
  packages/schemas/types/blocks/Toolbar.d.ts
  packages/schemas/types/inputs/input-properties.d.ts
  packages/schemas/types/lib/tables.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add lodash import linting rule.
  .eslintrc.js
Due: none

Add lodash import linting rule. (#89)
  .eslintrc.js
Due: none

Fix ShortTextInput ontology. Fix text input in toolbar layout.
  packages/react/src/blocks/ShortInputs/ShortInputs.tsx
  packages/react/src/blocks/Toolbar/Toolbar.tsx
  packages/react/src/inputs/Button/Button.tsx
  packages/react/src/inputs/ShortTextInput/ShortTextInput.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Implement debounced ShortTextInput value onAction.
  packages/react/src/inlines/Icon/Icon.stories.mdx
  packages/react/src/inputs/ShortTextInput/ShortTextInput.tsx
  packages/react/src/lib/index.ts
  packages/react/src/lib/useDebounce.ts
  packages/schemas/types/inputs/input-properties.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add onAction handlers for short text input. Todo: why isn't it getting called though?
  packages/react/src/blocks/List/List.tsx
  packages/react/src/blocks/Toolbar/Toolbar.tsx
  packages/react/src/inputs/ShortTextInput/ShortTextInput.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix callbacks.
  packages/react/src/blocks/List/List.tsx
  packages/react/src/blocks/Toolbar/Toolbar.tsx
  packages/react/src/inputs/ShortTextInput/ShortTextInput.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Update lockfile.
  pnpm-lock.yaml
Due: none

Finish find implementation.
  packages/react/src/blocks/List/List.tsx
  packages/react/src/props/tables.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Removing filterable for now.
  packages/schemas/types/blocks/List.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Facilitate wrapping.
  packages/react/src/blocks/List/List.stories.mdx
  packages/react/src/blocks/Table/Table.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix visual regressions.
  packages/react/src/blocks/ShortInputs/ShortInputs.tsx
  packages/react/src/blocks/Tabs/Tabs.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Adjust stories.
  packages/react/src/blocks/List/List.stories.mdx
  packages/react/src/views/View/View.stories.mdx
Due: prettier --write

Try to delay Toolbar in Chromatic.
  packages/react/src/blocks/Toolbar/Toolbar.stories.mdx
Due: prettier --write

Add very basic List tests.
  packages/react/src/blocks/List/List.test-stories.tsx
  packages/react/src/blocks/List/List.test.tsx
  packages/react/src/blocks/List/List.tsx
  packages/react/src/props/tables.ts
  packages/schemas/types/lib/tables.d.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Download basic sprites as part of storybook:build. Use a local URL for local development, or the public version if chromatic. Upgrade @fluentui/react-components, update styles for ShortTextInput.
  packages/react/.storybook/main.js
  packages/react/.storybook/public/.gitignore
  packages/react/package.json
  packages/react/scripts/prebuildsb.js
  packages/react/src/blocks/BigMessage/BigMessage.stories.mdx
  packages/react/src/blocks/Card/Card.stories.mdx
  packages/react/src/blocks/DescriptionList/DescriptionList.stories.mdx
  packages/react/src/blocks/Layout/Layout.stories.mdx
  packages/react/src/blocks/List/List.stories.mdx
  packages/react/src/blocks/Table/Table.stories.mdx
  packages/react/src/blocks/Tabs/Tabs.stories.mdx
  packages/react/src/blocks/Toolbar/Toolbar.stories.mdx
  packages/react/src/inputs/ShortTextInput/ShortTextInput.tsx
  packages/react/src/lib/storybookIconSpriteUrl.ts
  packages/react/src/media/Chart/Chart.stories.mdx
  packages/react/src/media/Illustration/Illustration.stories.mdx
  packages/react/src/views/View/View.stories.mdx
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Update build script name.
  .github/workflows/chromatic-staging.yml
Due: none

Update build script name.
  .github/workflows/pr-validation.yml
Due: none

Try getting charts working in Chromatic again.
  packages/react/src/blocks/Card/Card.stories.mdx
  packages/react/src/blocks/Layout/Layout.stories.mdx
  packages/react/src/media/Chart/Chart.stories.mdx
  packages/react/src/media/Chart/variants/BubbleChart.tsx
  packages/react/src/media/Chart/variants/HorizontalBarChart.tsx
  packages/react/src/media/Chart/variants/LineChart.tsx
  packages/react/src/media/Chart/variants/PieChart.tsx
  packages/react/src/media/Chart/variants/StackedLineChart.tsx
  packages/react/src/media/Chart/variants/VerticalBarChart.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix Checkbox dep.
  packages/react/package.json
  packages/react/src/blocks/Table/Table.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Charts work in Chromatic again. (#90)
  packages/react/src/blocks/Card/Card.stories.mdx
  packages/react/src/blocks/Layout/Layout.stories.mdx
  packages/react/src/media/Chart/Chart.stories.mdx
  packages/react/src/media/Chart/variants/BubbleChart.tsx
  packages/react/src/media/Chart/variants/HorizontalBarChart.tsx
  packages/react/src/media/Chart/variants/LineChart.tsx
  packages/react/src/media/Chart/variants/PieChart.tsx
  packages/react/src/media/Chart/variants/StackedLineChart.tsx
  packages/react/src/media/Chart/variants/VerticalBarChart.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Remove empty file.
  packages/react/src/blocks/List/List.stories.mdx
Due: prettier --write

Regenerate lockfile.
  pnpm-lock.yaml
Due: none

Fix Table stories.
  packages/react/src/blocks/Table/Table.stories.mdx
Due: prettier --write

Fix icons for Chromatic (#91)
  .github/workflows/chromatic-staging.yml
  .github/workflows/pr-validation.yml
  packages/react/.storybook/main.js
  packages/react/.storybook/public/.gitignore
  packages/react/package.json
  packages/react/scripts/prebuildsb.js
  packages/react/src/blocks/BigMessage/BigMessage.stories.mdx
  packages/react/src/blocks/Card/Card.stories.mdx
  packages/react/src/blocks/DescriptionList/DescriptionList.stories.mdx
  packages/react/src/blocks/Layout/Layout.stories.mdx
  packages/react/src/blocks/Table/Table.stories.mdx
  packages/react/src/blocks/Tabs/Tabs.stories.mdx
  packages/react/src/blocks/Toolbar/Toolbar.stories.mdx
  packages/react/src/inputs/ShortTextInput/ShortTextInput.tsx
  packages/react/src/lib/storybookIconSpriteUrl.ts
  packages/react/src/media/Chart/Chart.stories.mdx
  packages/react/src/media/Illustration/Illustration.stories.mdx
  packages/react/src/views/View/View.stories.mdx
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Adjust workflows for release branches.
  .github/workflows/chromatic-staging.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/pr-validation.yml
Due: none

Prepare initial release
  .changeset/config.json
  .changeset/nice-wasps-relax.md
  .github/workflows/publish-latest.yml
  .github/workflows/publish-next.yml
  package.json
  packages/icons/package.json
  packages/react/package.json
  packages/schemas/package.json
Due: none

Add missing dep.
  package.json
  pnpm-lock.yaml
Due: none

Update versioning.
  .github/workflows/publish-latest.yml
  .github/workflows/publish-next.yml
  package.json
Due: none

Changeset release/latest (#93)
  .github/workflows/publish-latest.yml
  .github/workflows/publish-next.yml
  package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  prettier --write: any of: packages/*/{src,scripts,types,.storybook}/**/*.{js,jsx,ts,tsx,md,mdx,json}
  eslint --cache --max-warnings 0 --fix: any of: packages/*/{src,scripts,types,.storybook}/**/*.{js,jsx,ts,tsx}
