Repository OfficeDev/fluent-blocks: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --max-warnings 0 --fix

.lintstagedrc:

{
  "packages/*/{src,scripts,types,.storybook}/**/*.{js,jsx,ts,tsx,md,mdx,json}": "prettier --write",
  "packages/*/{src,scripts,types,.storybook}/**/*.{js,jsx,ts,tsx}": "eslint --cache --max-warnings 0 --fix"
}

Harmonize signatures.
  packages/colors/src/lib/palettes.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add diffThreshold to elements with Charts to avoid UI test flaking.
  packages/react/src/blocks/Card/Card.stories.mdx
  packages/react/src/blocks/Layout/Layout.stories.mdx
  packages/react/src/blocks/Toolbar/Toolbar.stories.mdx
  packages/react/src/media/Chart/Chart.stories.mdx
Due: prettier --write

Add change.
  .changeset/forty-files-jump.md
Due: none

Fix diff threshold (#100)
  .changeset/forty-files-jump.md
  packages/react/src/blocks/Card/Card.stories.mdx
  packages/react/src/blocks/Layout/Layout.stories.mdx
  packages/react/src/blocks/Toolbar/Toolbar.stories.mdx
  packages/react/src/media/Chart/Chart.stories.mdx
Due: prettier --write

Add knobs and explain.
  packages/react/src/lib/Provider/FluentBlocksProvider.stories.mdx
  packages/react/src/lib/Provider/StorybookColorProvider.tsx
  packages/react/src/lib/theme.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Procedural colors (#99)
  .changeset/wise-llamas-decide.md
  packages/colors/.gitignore
  packages/colors/just.config.ts
  packages/colors/package.json
  packages/colors/scripts/audit.js
  packages/colors/src/index.ts
  packages/colors/src/lib/csswg.ts
  packages/colors/src/lib/geometry.ts
  packages/colors/src/lib/index.ts
  packages/colors/src/lib/palettes.ts
  packages/colors/src/lib/templates.ts
  packages/colors/src/lib/types.ts
  packages/colors/tsconfig.json
  packages/react/package.json
  packages/react/src/index.ts
  packages/react/src/lib/Provider/FluentBlocksContext.ts
  packages/react/src/lib/Provider/FluentBlocksProvider.stories.mdx
  packages/react/src/lib/Provider/FluentBlocksProvider.tsx
  packages/react/src/lib/Provider/StorybookColorProvider.tsx
  packages/react/src/lib/Provider/index.ts
  packages/react/src/lib/index.ts
  packages/react/src/lib/theme.ts
  packages/react/src/lib/translations/index.ts
  packages/schemas/package.json
  packages/schemas/types/lib/themes.d.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Use Vite. dev and build appear to work.
  packages/react/.gitignore
  packages/react/.storybook/main.js
  packages/react/package.json
  packages/react/src/inputs/RadioGroup/RadioGroup.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix Storybook build.
  packages/react/package.json
  pnpm-lock.yaml
Due: none

Add change.
  .changeset/unlucky-squids-attack.md
Due: none

Add dependencies to optimize before tests to fix CI.
  packages/react/.storybook/main.js
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add stub Intro.
  packages/react/.storybook/preview.js
  packages/react/.storybook/public/expression-studio_still.jpg
  packages/react/src/lib/Intro.stories.mdx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Flesh-out stub intro.
  packages/react/README.md
  packages/react/src/blocks/Card/Card.tsx
  packages/react/src/lib/Intro.stories.mdx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Update deps. Fix mainstreamed RadioGroup import.
  package.json
  packages/react/package.json
  packages/react/src/inputs/RadioGroup/RadioGroup.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add changes.
  .changeset/tiny-vans-type.md
Due: none

Add change.
  .changeset/spotty-dryers-remain.md
Due: none

Peg to specific `react-components` release. (#103)
  .changeset/tiny-vans-type.md
  package.json
  packages/react/package.json
  packages/react/src/inputs/RadioGroup/RadioGroup.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add intro page (#104)
  .changeset/spotty-dryers-remain.md
  packages/react/.storybook/preview.js
  packages/react/.storybook/public/expression-studio_still.jpg
  packages/react/README.md
  packages/react/src/blocks/Card/Card.tsx
  packages/react/src/lib/Intro.stories.mdx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Exit pre. Harmonize version scripts.
  .changeset/pre.json
  .github/workflows/publish-next.yml
  .github/workflows/publish.yml
  package.json
Due: none

Exit pre. Harmonize version scripts. (#108)
  .changeset/pre.json
  .github/workflows/publish-next.yml
  .github/workflows/publish.yml
  package.json
Due: none

Peg direct and peer deps to specific versions.
  packages/react/package.json
  pnpm-lock.yaml
Due: none

Add change.
  .changeset/poor-beers-rule.md
Due: none

Fix direct & peer deps (#110)
  .changeset/poor-beers-rule.md
  packages/react/package.json
  pnpm-lock.yaml
Due: none

Add prepublishOnly script to icons.
  packages/icons/package.json
Due: none

Add change.
  .changeset/odd-countries-sell.md
Due: none

Fix CI for basic-icons package (#112)
  .changeset/odd-countries-sell.md
  packages/icons/package.json
Due: none

Publish to NPM before Chromatic. Bundle icons before building Storybook.
  .github/workflows/publish.yml
  packages/react/.gitignore
  packages/react/package.json
  packages/react/scripts/prebuildsb.js
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add change.
  .changeset/five-pandas-rescue.md
Due: none

Bundle icons before building Storybook. (#114)
  .changeset/five-pandas-rescue.md
  .github/workflows/publish.yml
  packages/react/.gitignore
  packages/react/package.json
  packages/react/scripts/prebuildsb.js
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix direct & peer deps (#110)
  .changeset/poor-beers-rule.md
Due: none

Enter prerelease after updating to latest
  .changeset/pre.json
Due: none

Add change.
  .changeset/eighty-insects-applaud.md
Due: none

Merge latest to next (#116)
  .changeset/eighty-insects-applaud.md
  .changeset/forty-files-jump.md
  .changeset/fuzzy-teachers-jam.md
  .changeset/pre.json
  .changeset/spotty-dryers-remain.md
  .changeset/stupid-candles-jam.md
  .changeset/stupid-feet-float.md
  .changeset/tame-glasses-pretend.md
  .changeset/tiny-vans-type.md
  .changeset/wise-llamas-decide.md
  .github/workflows/publish-next.yml
  .github/workflows/publish.yml
  package.json
  packages/colors/CHANGELOG.md
  packages/colors/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/react/.gitignore
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/scripts/prebuildsb.js
  packages/schemas/CHANGELOG.md
  packages/schemas/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Upgrade pnpm.
  .github/workflows/pr-validation.yml
  .github/workflows/publish.yml
  package.json
  packages/colors/package.json
  packages/react/package.json
  packages/schemas/package.json
  pnpm-lock.yaml
Due: none

Fix infinite recursion.
  package.json
Due: none
