Repository OfficeDev/fluent-blocks: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --max-warnings 0 --fix

Move Illustration to lib. Add tests for Button event handling.
  src/blocks/BigMessage/BigMessage.tsx
  src/blocks/Block/Block.test.tsx
  src/blocks/Heading/Heading.test.tsx
  src/blocks/Paragraph/Paragraph.test.tsx
  src/blocks/Section/Section.test.tsx
  src/inlines/Icon/Icon.test.tsx
  src/inlines/Inline/Inline.test.tsx
  src/inlines/Text/Text.test.tsx
  src/inputs/Button/Button.test-stories.tsx
  src/inputs/Button/Button.test.tsx
  src/inputs/Button/Button.tsx
  src/lib/Illustration/Default.tsx
  src/lib/Illustration/Empty.tsx
  src/lib/Illustration/Error.tsx
  src/lib/Illustration/Hello.tsx
  src/lib/Illustration/Illustration.stories.mdx
  src/lib/Illustration/Illustration.tsx
  src/lib/Illustration/NamedIllustration.tsx
  src/lib/Illustration/Thanks.tsx
  src/lib/Illustration/ThemedImage.tsx
  src/lib/Illustration/index.ts
  src/lib/Illustration/models.ts
  src/setup.test.ts
  src/test.bigmessage.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Adjust illustration story name.
  src/lib/Illustration/Illustration.stories.mdx
Due: prettier --write

Set up custom eventing. Test this with Button.
  src/inputs/Button/Button.test-stories.tsx
  src/inputs/Button/Button.test.tsx
  src/inputs/Button/Button.tsx
  src/lib/actions.tsx
  src/lib/index.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Adjust actions implementation.
  src/inputs/Button/Button.test-stories.tsx
  src/inputs/Button/Button.tsx
  src/lib/actions.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Leave bookmark todo.
  src/lib/actions.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Remove bubbling madness.
  src/inputs/Button/Button.test-stories.tsx
  src/inputs/Button/Button.test.tsx
  src/inputs/Button/Button.tsx
  src/lib/actions.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add support for action handler in context.
  src/inputs/Button/Button.test-stories.tsx
  src/inputs/Button/Button.test.tsx
  src/inputs/Button/Button.tsx
  src/lib/FluentKitProvider.tsx
  src/lib/FluentPatternsContext.ts
  src/lib/FluentPatternsProvider.tsx
  src/lib/actions.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Refactor test structure, and offer this.goto which ensures this.page will emit 'load' correctly but takes longer.
  src/blocks/Block/Block.test.tsx
  src/blocks/Heading/Heading.test.tsx
  src/blocks/Paragraph/Paragraph.test.tsx
  src/blocks/Section/Section.test.tsx
  src/inlines/Icon/Icon.test.tsx
  src/inlines/Inline/Inline.test.tsx
  src/inlines/Text/Text.test.tsx
  src/inputs/Button/Button.test.tsx
  src/setup.test.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Simplify propsElementUnion.
  src/blocks/Figure/Figure.tsx
  src/blocks/Paragraph/Paragraph.tsx
  src/blocks/ShortInputs/ShortInputs.tsx
  src/inlines/Icon/Icon.tsx
  src/inlines/Text/Text.tsx
  src/inputs/Button/Button.tsx
  src/inputs/MultilineTextInput/MultilineTextInput.tsx
  src/inputs/RadioGroup/RadioGroup.tsx
  src/inputs/ShortTextInput/ShortTextInput.tsx
  src/lib/Escape.tsx
  src/lib/propsElementUnion.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Create stub Layout and Card elements.
  src/blocks/Block/Block.tsx
  src/blocks/Card/Card.tsx
  src/blocks/Heading/Heading.tsx
  src/blocks/Layout/Layout.stories.mdx
  src/blocks/Layout/Layout.tsx
  src/lib/warnings.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix 'margin: auto' treatment between block and flex contexts.
  src/blocks/Card/Card.tsx
  src/blocks/Figure/Figure.tsx
  src/blocks/Heading/Heading.tsx
  src/blocks/Paragraph/Paragraph.tsx
  src/blocks/ShortInputs/ShortInputs.tsx
  src/inputs/MultilineTextInput/MultilineTextInput.tsx
  src/inputs/RadioGroup/RadioGroup.tsx
  src/lib/Sequence.tsx
  src/lib/commonStyles.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Refine Layout story.
  CONTRIBUTING.md
  src/blocks/Layout/Layout.stories.mdx
  src/blocks/Layout/Layout.tsx
  src/blocks/Layout/StorybookLayout.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Move Illustration and ThemedImage to new 'media' taxon. Refactor to harmonize ontology, BigMessage renders with Figure.
  src/blocks/BigMessage/BigMessage.stories.mdx
  src/blocks/BigMessage/BigMessage.tsx
  src/blocks/BigMessage/StorybookBigMessage.tsx
  src/blocks/Block/Block.tsx
  src/blocks/Figure/Figure.tsx
  src/lib/Illustration/Illustration.tsx
  src/lib/Illustration/NamedIllustration.tsx
  src/lib/Illustration/ThemedImage.tsx
  src/lib/Illustration/index.ts
  src/lib/Illustration/models.ts
  src/lib/index.ts
  src/lib/theme.ts
  src/lib/warnings.ts
  src/media/Illustration/Default.tsx
  src/media/Illustration/Empty.tsx
  src/media/Illustration/Error.tsx
  src/media/Illustration/Hello.tsx
  src/media/Illustration/Illustration.stories.mdx
  src/media/Illustration/Illustration.tsx
  src/media/Illustration/Thanks.tsx
  src/media/ThemedImage/ThemedImage.tsx
  src/media/index.ts
  src/media/media-properties.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix types & tests.
  src/blocks/Block/Block.test-stories.tsx
  src/blocks/Figure/Figure.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix stories.
  src/blocks/Heading/Heading.stories.mdx
  src/view/View.stories.mdx
Due: prettier --write

Fix generic type and some imports.
  src/inputs/Button/Button.tsx
  src/lib/actions.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

View handles onAction.
  src/blocks/Heading/Heading.stories.mdx
  src/lib/actions.tsx
  src/views/View/View.stories.mdx
  src/views/View/View.test-stories.tsx
  src/views/View/View.test.tsx
  src/views/View/View.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Remove untyped this in function signatures.
  src/blocks/Block/Block.test.tsx
  src/blocks/Heading/Heading.test.tsx
  src/blocks/Paragraph/Paragraph.test.tsx
  src/blocks/Section/Section.test.tsx
  src/inlines/Icon/Icon.test.tsx
  src/inlines/Inline/Inline.test.tsx
  src/inlines/Text/Text.test.tsx
  src/inputs/Button/Button.test.tsx
  src/views/View/View.test.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Adjust indexes/imports/exports.
  src/blocks/BigMessage/BigMessage.tsx
  src/blocks/Block/Block.test-stories.tsx
  src/blocks/Heading/Heading.stories.mdx
  src/blocks/Section/Section.tsx
  src/blocks/index.ts
  src/inlines/Icon/Icon.stories.mdx
  src/inlines/Inline/Inline.test-stories.tsx
  src/inputs/index.ts
  src/media/Illustration/Illustration.tsx
  src/media/ThemedImage/ThemedImage.tsx
  src/media/index.ts
  src/surfaces/Main/Main.tsx
  src/surfaces/index.ts
  src/views/View/View.tsx
  src/views/index.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Harmonize ActionsBlock with ShortInputs.
  src/blocks/BigMessage/BigMessage.tsx
  src/blocks/Figure/Figure.tsx
  src/blocks/ShortInputs/ShortInputs.tsx
  src/inputs/ShortTextInput/ShortTextInput.tsx
  src/lib/commonStyles.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

'variant', not 'variation'.
  src/blocks/BigMessage/BigMessage.stories.mdx
  src/blocks/BigMessage/BigMessage.tsx
  src/blocks/Figure/Figure.tsx
  src/blocks/ShortInputs/ShortInputs.tsx
  src/views/View/View.stories.mdx
  src/views/View/View.test-stories.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Shamefully remove BigMessage test (for now).
  src/blocks/BigMessage/BigMessage.test.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix merge.
  src/blocks/Card/Card.tsx
  src/blocks/Heading/Heading.tsx
  src/blocks/Layout/Layout.stories.mdx
  src/blocks/Layout/Layout.tsx
  src/blocks/ShortInputs/ShortInputs.tsx
  src/inputs/Button/Button.tsx
  src/lib/Placeholder.tsx
  src/lib/commonStyles.ts
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix merge.
  src/blocks/Layout/Layout.stories.mdx
Due: prettier --write

Add main Chromatic action.
  .github/workflows/chromatic-main.yml
Due: none

Add main Chromatic action. (#28)
  .github/workflows/chromatic-main.yml
Due: none

Change Chromatic deploy branch to staging.
  .github/workflows/chromatic-staging.yml
Due: none

Adjust docs.
  README.md
  src/inlines/Icon/Icon.stories.mdx
Due: prettier --write

Upgrade packages.
  src/lib/ParseBoundary.tsx
  yarn.lock
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Change Chromatic deploy branch to staging (#29)
  .github/workflows/chromatic-staging.yml
  README.md
  src/inlines/Icon/Icon.stories.mdx
  src/lib/ParseBoundary.tsx
  yarn.lock
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add theming to some stories. Adjust Illustration stories.
  src/blocks/Layout/Layout.stories.mdx
  src/blocks/Layout/StorybookLayout.tsx
  src/lib/theme.ts
  src/media/Illustration/Illustration.stories.mdx
  src/media/Illustration/StorybookIllustration.tsx
  src/views/View/View.stories.mdx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Remove source code from all canvases. Add theme to BigMessage stories.
  .storybook/main.js
  src/blocks/BigMessage/BigMessage.stories.mdx
  src/blocks/BigMessage/StorybookBigMessage.tsx
  src/blocks/Heading/Heading.stories.mdx
  src/blocks/Layout/Layout.stories.mdx
  src/media/Illustration/Illustration.stories.mdx
  src/media/Illustration/StorybookIllustration.tsx
  src/views/View/View.stories.mdx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Add Card stories.
  src/blocks/BigMessage/BigMessage.test.tsx
  src/blocks/Block/Block.tsx
  src/blocks/Card/Card.stories.mdx
  src/blocks/Card/Card.test.tsx
  src/blocks/Card/Card.tsx
  src/blocks/Card/StorybookCard.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Adjust docs.
  CONTRIBUTING.md
  README.md
Due: none

Add BigMessage tests. Fix Figure's Media logic.
  src/blocks/BigMessage/BigMessage.test-stories.tsx
  src/blocks/BigMessage/BigMessage.test.tsx
  src/blocks/Figure/Figure.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix variant prop in Layout. Adjust Card stories. Propose 'contextualVariant' prop.
  src/blocks/Card/Card.stories.mdx
  src/blocks/Card/Card.tsx
  src/blocks/Card/StorybookCard.tsx
  src/blocks/Figure/Figure.tsx
  src/blocks/Heading/Heading.tsx
  src/blocks/Layout/Layout.stories.mdx
  src/blocks/Layout/Layout.tsx
  src/blocks/Paragraph/Paragraph.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix SVG gradient references. Merge 'description' with 'abstract'. Create stub Teams Toolkit story.
  src/blocks/BigMessage/BigMessage.stories.mdx
  src/blocks/BigMessage/BigMessage.test-stories.tsx
  src/blocks/BigMessage/BigMessage.tsx
  src/blocks/Heading/Heading.tsx
  src/blocks/Layout/Layout.stories.mdx
  src/blocks/Section/Section.tsx
  src/media/Illustration/Default.tsx
  src/media/Illustration/Hello.tsx
  src/media/Illustration/Thanks.tsx
  src/views/View/View.stories.mdx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Fix tests.
  src/blocks/BigMessage/BigMessage.test.tsx
Due: prettier --write, eslint --cache --max-warnings 0 --fix

Path conditions:
  prettier --write: any of: {src,.storybook}/**/*.{js,jsx,ts,tsx,md,mdx,json}
  eslint --cache --max-warnings 0 --fix: any of: {src,.storybook}/**/*.{js,jsx,ts,tsx}
